<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/static/css/juego.css">

</head>


<body onload="startGame()">
<h1>Block Hopper</h1>
<br>

<p>Image to use:</p>
<img src="https://c8.alamy.com/compes/ke36m2/lindo-mono-que-cuelga-sobre-la-rama-ilustracion-ke36m2.jpg" id="lamp" width="32" height="32">
<p>Canvas:</p>
</body>

<script src="/static/js/juego.js"></script>
</html>